---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Marquee from "../components/Marquee.astro";
import Areas from "../components/Areas.astro";
import Cita from "../components/Cita.astro";
import Proceso from "../components/Proceso.astro";
import Despacho from "../components/Despacho.astro";
import Notariado from "../components/Notariado.astro";
import CtaBand from "../components/CtaBand.astro";
import Faq from "../components/Faq.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
import WhatsappButton from "../components/WhatsappButton.astro";
import VideoLightbox from "../components/VideoLightbox.astro";
import Motion from "../components/Motion.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Marquee />
    <Areas />
    <Cita />
    <Proceso />
    <Despacho />
    <Notariado />
    <CtaBand />
    <Faq />
    <Contacto />
  </main>
  <Footer />
  <WhatsappButton />
  <VideoLightbox />
  <Motion />
</Layout>
